html,body {
    min-height: 100%;
}

body {
    background-image: url("lemuel-butler-515.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    font-size: 30px;
    font-family: fantasy;
}

h1 {
    font-weight: bold;
    color: blue;
    text-align: center;
}

.container {
    width: 750px;
    padding: 0 20px;
    margin: 0 auto;
}

.row {
    
}

.section1 {

}

.question_field {

}

.question_counter, .question_points {

}

.question_counter {

}

.section2 {

}

.answer {
    
}